.header {
  font-size: 2rem;
  color: blue;
  margin: 1rem;
}

.form-outline {
  margin: auto;
  left: 0;
  right: 0;
  width: 25rem;
}

.flex {
  display: flex;
}

.flexEnd {
  justify-content: flex-end;
}

.searchBuuton {
  height: 2rem;
}

.spaceBtwn {
  justify-content: space-between;
}

.floatBtn {
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  /* display: block !important; */
  z-index: 99;
}